<br />
<hr />
<div class="card-deck">
  <div class="card text-white bg-dark">
    <div class="card-header" style="min-height: 5rem;">Q1. Explain the code in the main.hbs</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">The main.hbs is a handlebars file that acts as a template file where the base structure of the html page resides, the other views inherit all the elements from this main.hbs file. It contains the nav bar which is shared accross all the pages and the necessary script tags for styling libraries (Bootstrap, etc.)</p>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" style="min-height: 5rem;">Q2. Explain the input elements in the addEmployee.html</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">
        <strong>Text Input</strong>: For free form text as Name, Email, Address
        <br>
        <strong>&lt;input type="text"/&gt;</strong>
        <hr>
        <strong>Checkbox Input</strong>: For confirmations or Yes/No or True/False inputs.
        <br>
        <strong>&lt;input type="checkbox"/&gt;</strong>
        <hr>
        <strong>Radio Input</strong>: For single selection from a group of 2-3 options.
        <br>
        <strong>&lt;input type="radio"/&gt;</strong>
        <hr>
        <strong>DropDown (Select)</strong>: For single selection from a group of >3 options.
        <br>
        <strong>&lt;select&gt;&lt;option&gt;&lt;/option&gt;&lt;/select&gt;</strong>
</p>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header" style="min-height: 5rem;">Q3. Explain what is  returned to the form from checkLastName() function and why?</div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"> The checkLastName() function returns either <strong>true</strong> or <strong>false</strong>. If the Last Name field is left empty, the validation fails and the function returns <strong>false</strong>. If the user enters special characters or numerical values, the validation fails as well and <strong>false</strong> is returned. If all the conditions are satisfied and there are no validation failures, the function returns <strong>true</strong> and proceeds to submit the form.</p>
    </div>
  </div>
</div>