
    <h1 class="text-center">Welcome!</h1>
  
    <p>
        Welcome! I'm thrilled to have you join me as I delve into the principles and techniques of HTML5, while also exploring the intricacies of Routing in Express.<br> 
        Take your time to explore and familiarize yourself with these topics.<br>  
        Whether you're a seasoned developer or just starting out, there's always something new to learn.<br>  
        If you have any questions or feedback along the way, feel free to reach out.<br>  
        Enjoy your journey through the world of web development!
    </p>
    <hr >
    <h1 class="text-center">Learning experience </h1>
    <p>
        As I journey through this course, I find myself immersed in a dynamic learning experience that continually challenges and expands my comprehension of HTML5 principles and Express routing techniques.<br> 
        With each lesson, I uncover fresh insights and practical applications, enabling me to deepen my expertise and refine my proficiency in web development.<br> 
        Along the way, I encounter diverse concepts and scenarios that ignite my curiosity, propelling me towards further exploration.<br> 
        This educational voyage has proven both gratifying and enriching, equipping me with the confidence to navigate the complexities of modern web development with ease.<br>
        I eagerly anticipate applying these newfound skills to real-world projects and perpetuating my evolution as a developer.<br>
    </p>
    <hr>
    <h3 class="text-center">Introduction to HTML5 </h3> 
    <p>
        This site harnesses the power of HTML5, a cornerstone tool for crafting and delivering content online.<br> 
        Serving as the fundamental building blocks of the web, HTML5 empowers developers to structure and design websites seamlessly.<br> 
        Noteworthy features include intuitive tags, support for multimedia integration such as audio and video, a canvas for graphic creation, and offline functionality. <br>
        Its widespread popularity stems from its compatibility across various devices and its capability to enhance website aesthetics. <br>
        In essence, HTML5 represents the future landscape of web design and development.
    </p>
